{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "printWidth": 80,
  "tabWidth": 2,
  "arrowParens": "always",
  "endOfLine": "auto",
  "bracketSpacing": true,
  "useTabs": false,
  "plugins": ["prettier-plugin-organize-imports"],
  "importOrder": ["^@nestjs/(.*)$", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
