PORT=3040
DOMAIN=http://localhost:3040

NODE_ENV=local
MONGODB_URI=mongodb+srv://username:password@cluster/github

PAGE_LIMIT=10
JWT_SECRET_KEY=2d3ef552bec8260dfc2726fd3b54143f7
JWT_EXPIRY=24h

# SEND EMAIL  
HOST=smtp.gmail.com
EMAILPORT=587
SECURE=false
ENCRYPTION=TLS
USER_EMAIL=enter@gmail.com
USER_NAME="enter@gmail.com" 
PASS=enterpassword

# AWS
AWS_S3_REGION="us-west-2"
AWS_S3_BUCKET="Github"
